<section class= "libros-carrusel">
    <div class="owl-carousel owl-theme">
      <div class = "items">
        <img src = "/img/la-sangre-manda.jpg">
      </div>
      <div class = "items">
        <img src = "/img/Harry-Potter1.jpg">
      </div>
      <div class = "items">
        <img src = "/img/Las-aventuras-de-sherlockHolmes.jpg">
      </div>
      <div class = "items">
        <img src = "/img/el-alquimista.jpg">
      </div>
      <div class = "items">
        <img src = "/img/1984.jpg">
      </div>
    </div>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type= "text/javascript">
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    autoplay: true,
    autoplayTimeout: 2500,
    dots: true,
    margin: 30,
    responsive:{
        0:{
            items:1
        },
        300:{
            items:3
        },
        1000:{
            items:5
        }
    } 
})
    
    
    </script>
    </section>