<footer class="main-footer">

    <section class="footer-social-media">

        <div class="follow-us">
<br>
            <p>Seguinos</p>

        </div>

        <div class="social-media-logos">

            <div class="logo">

                <a href="facebook"><i class="fab fa-facebook-f facebook"></i></a>

            </div>

            <div class="logo">

                <a href="twitter"><i class="fab fa-twitter twitter"></i></a>

            </div>

            <div class="logo">

                <a href="instagram"><i class="fab fa-instagram instagram"></i></a>

            </div>

        </div>
        
    </section>

    <div class="max-width">

    <section class="footer-navbar">

        <ul class="footer-navbar-list">

            <li class="footer-navbar-item border-right">

                <b><a href="/">Hedwig</a></b>
                <ul class="section-navbar">

                    <a href="/quienes-somos"><li class="footer-list-element">Quienes somos</li></a>
                    <a href="/contactanos"><li class="footer-list-element">Contactanos</li></a>
                    <a href="/trabaja-con-nosotros"><li class="footer-list-element">Trabajá con nosotros</li></a>
                    
                </ul>

            </li>

            <li class="footer-navbar-item">
                
                <b><a href="/ayuda">Ayuda</a></b>
                <ul class="section-navbar">

                    <a href="/atencion-al-cliente"><li class="footer-list-element">Atención al cliente</li></a>
                    <a href="/promociones"><li class="footer-list-element">Promociones</li></a>
                    <a href="/costos-envio"><li class="footer-list-element">Costos y tiempo de envío</li></a>
                    <a href="/devoluciones"><li class="footer-list-element">Devoluciones</li></a>
                    <a href="/faq"><li class="footer-list-element">Preguntas frecuentes</li></a>

                </ul>

            </li>

            <li class="footer-navbar-item border-left-and-right">

                <b><a href="/users/configuracion">Mi usuario</a></b>
                <ul class="section-navbar">

                    <a href="/users/login"><li class="footer-list-element">Iniciar sesión</li></a>
                    <a href="/suscripcion-novedades"><li class="footer-list-element">Suscripción a novedades</li></a>
                    <a href="/products/carrito"><li class="footer-list-element">Mi carrito</li></a>

                </ul>

            </li>

            <li class="footer-navbar-item">

                <b><a href="/informacion-importante">Información importante</a></b>
                <ul class="section-navbar">

                    <a href="/terminos-condiciones"><li class="footer-list-element">Términos y condiciones</li></a>
                    <a href="/politica-cookies"><li class="footer-list-element">Política de cookies</li></a>
                    <a href="/politica-privacidad"><li class="footer-list-element">Política de privacidad</li></a>

                </ul>

            </li>

        </ul>

    </section>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</footer>