<header class="main-header">

    <div class="max-width">

    <section class="header-logo-section">

        <div class="btn-group container-hamburguer-menu">

            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i id="hamburguer-menu" class="fas fa-bars"></i></button>

            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <form action="/search">
                        <input type="text" placeholder="Buscar libros, autores, géneros" />
                        <button type="submit"><i id="black-icon" class="fas fa-search"></i></button>
                    </form>
                </li>
                <hr class="dropdown-divider">
                <% if(!data.session.usuarioLogueado){ %> 
                <li><a class="dropdown-item" href="/users/login" class ="btn-open-login">Iniciar sesión</a></li> 
                <li><a class="dropdown-item" href="/users/register" class ="btn-open-login">Registrarse</a></li> 
                <hr class="dropdown-divider">
                <% } %> 
                <li><a class="dropdown-item" href="/productos/generos">Categorías</a></li>
                <li><a class="dropdown-item" href="/productos/best-sellers">Best sellers</a></li>
                <li><a class="dropdown-item" href="/productos/novedades">Novedades</a></li>
                <li><a class="dropdown-item" href="/productos/ofertas">Ofertas</a></li>
                <% if(data.session.usuarioLogueado){ %>
                <li><a class="dropdown-item" href="#">Historial</a></li>
                <li><a class="dropdown-item" href="#">Configuración</a></li>
                <hr class="dropdown-divider">
                <% if (data.session.admin >= 1) { %>
                    <li><a class="dropdown-item" href="/products/create">Nuevo producto</a></li>
                <% if (data.session.admin == 2) { %>
                    <li><a class="dropdown-item" href="/users/panel">Panel de usuarios</a></li>
                <% } %>
                    <hr class="dropdown-divider">
                <% } %>
                <li><a class="dropdown-item sign-out" href="/users/login">Cerrar sesión</a></li>
                <% } %>

            </ul>

        </div>

        <div class="container-logo">
            
            <a href="/"><img id="logo-hedwig-header" src="/img/LOGO.png" alt="Logo Hedwig"></a>

        </div>

        <div class="container-cart-mobile">

            <div id="header-amount-products-mobile-desktop">3</div>
            <a href="/products/carrito"><i class="fas fa-shopping-cart" id="cart-header"></i></a>

        </div>
        
        <div class="container-cart-tablet">

            <span class="total">$4000</span>
            <a class="link-cart-tablet" href="/products/carrito">

                <span>3</span>
                <i class="fas fa-shopping-cart"></i>

            </a>

        </div>

        <div class="header-search-bar-desktop">

            <form class="search-bar-desktop">

                <input type="text" placeholder="Buscar libros, autores, géneros..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>

            </form>

        </div>

        <div class="btn-group header-user-logo">
 
            <% if(!data.session.usuarioLogueado) { %> 
            <div class="container-not-logged-in">
                <a href="/users/login"><button class="btn button-width"> Iniciar sesión </button></a>
                <a href="/users/register"><button class="btn button-width"> Registrarse </button></a>
            </div>
            <% } else { %> 
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></button>
            <% } %> 

            <ul class="dropdown-menu">

                <li><a class="dropdown-item" href="/users/historial">Historial</a></li>
                <li><a class="dropdown-item" href="/users/configuracion">Configuración</a></li>
                <li><hr class="dropdown-divider"></li>
                <% if (data.session.admin >= 1) { %>
                    <li><a class="dropdown-item" href="/products/create">Nuevo producto</a></li>
                <% if (data.session.admin == 2) { %>
                    <li><a class="dropdown-item" href="/users/panel">Panel de usuarios</a></li>
                <% } %>    
                    <li><hr class="dropdown-divider"></li>
                <% } %>
                <li><a class="dropdown-item sign-out" href="/users/login">Cerrar sesión</a></li>

            </ul>

        </div>

    </section>

    </section>

    <section class="header-search-bar-tablet-mobile">

        <form class="search-bar-tablet-mobile">

            <input type="text" placeholder="Buscar libros, autores, géneros..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>

        </form>

    </section>

    <section class="header-navbar-desktop dropdown">

        <div class="container-header-navbar-desktop">

            <a href="#" class="anchor-categories btn dropdown-toggle" role="button" id="dropdown-categories" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <li>

                    <ul class="dropdown-menu-categories">

                        <li class="dropdown-item">

                            <b class="category-title">Populares</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/products/generos/accion"> Acción </a></li>
                                <li class="dropdown-item"><a href="/products/generos/aventura"> Aventura </a></li>
                                <li class="dropdown-item"><a href="/products/generos/ciencia-ficcion"> Ciencia ficción </a></li>
                                <li class="dropdown-item"><a href="/products/generos/fantasia"> Fantasía </a></li>
                                <li class="dropdown-item"><a href="/products/generos/terror"> Terror </a></li>
                            </ul>

                        </li>
                        
                        <li class="dropdown-item">

                            <b class="category-title">Más géneros</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/products/generos/ciencia-geografia"> Ciencia y geografía </a></li>
                                <li class="dropdown-item"><a href="/products/generos/desarrollo-personal"> Desarrollo personal </a></li>
                                <li class="dropdown-item"><a href="/products/generos/negocios-finanzas"> Negocios y finanzas </a></li>
                                <li class="dropdown-item"><a href="/products/generos/psicologia"> Psicología </a></li>
                                <li class="dropdown-item"><a href="/products/generos/religion"> Religión </a></li>
                                <li class="dropdown-item"><a href="/products/generos/salud"> Salud </a></li>
                                <li class="dropdown-item"><a href="/products/generos/tecnologia"> Tecnología </a></li>
                                <li class="dropdown-item"><a href="/products/generos"> Ver todos los géneros... </a></li>
                            </ul>

                        </li>

                        <li class="dropdown-item">

                            <b class="category-title">Autores</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/products/autores/agatha-christie"> Agatha Christie </a></li>
                                <li class="dropdown-item"><a href="/products/autores/edgar-allan-poe"> Edgar Allan Poe </a></li>
                                <li class="dropdown-item"><a href="/products/autores/franz-kafka"> Franz Kafka </a></li>
                                <li class="dropdown-item"><a href="/products/autores/jk-rowling"> J.K. Rowling </a></li>
                                <li class="dropdown-item"><a href="/products/autores/stephen-king"> Stephen King </a></li>
                            </ul>

                        </li>
                        
                        <li class="dropdown-item">

                            <b class="category-title">Sagas</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/products/sagas/harry-potter"> Harry Potter </a></li>
                                <li class="dropdown-item"><a href="/products/sagas/maze-runner"> Maze runner </a></li>
                                <li class="dropdown-item"><a href="/products/sagas/game-of-thrones"> Game of Thrones </a></li>
                                <li class="dropdown-item"><a href="/products/sagas/star-wars"> Star wars </a></li>
                            </ul>

                        </li>

                    </ul>

                </li>

            </ul>

            <a href="/products/best-sellers">Best sellers</a>
            <a href="/products/novedades">Novedades</a>
            <a href="/products/ofertas">Ofertas</a>

        </div>

        <div class="container-header-cart">

            <div class="total-cart">

                <span>$4000</span>

            </div>  

            <div>

                <a href="/products/carrito" class="anchor-cart-products"><span class="header-amount-products">3 <i class="fas fa-shopping-cart"></i></span></a>

            </div>

        </div>

    </section>

    </div>

</header>
