<header class="main-header">


    <div class="max-width">

    <section class="header-logo-section">

        <div class="btn-group container-hamburguer-menu">

            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i id="hamburguer-menu" class="fas fa-bars"></i></button>

            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <form action="/search">

                        <input type="text" placeholder="Buscar libros, autores, géneros" name="search"/>
                        <button type="submit"><i id="black-icon" class="fas fa-search"></i></button>

                    </form>
                </li>
                <hr class="dropdown-divider">
                <% if(!data.session.usuarioLogueado){ %> 
                <li><a class="dropdown-item" href="/users/login" class ="btn-open-login">Iniciar sesión</a></li> 
                <li><a class="dropdown-item" href="/users/register" class ="btn-open-login">Registrarse</a></li> 
                <hr class="dropdown-divider">
                <% } %> 
                <li><a class="dropdown-item" href="/productos/generos">Categorías</a></li>
                <li><a class="dropdown-item" href="https://hedwig-dashboard.web.app">Dashboard <i class="fas fa-tachometer-alt"></i></a></li>
                <li><a class="dropdown-item" href="/productos/novedades">Novedades <i class="fas fa-newspaper"></i></a></li>
                <li><a class="dropdown-item" href="/products/ofertas">Ofertas <i class="fas fa-dollar-sign"></i></a></li>
                <% if(data.session.usuarioLogueado){ %>
                <li><a class="dropdown-item" href="#">Historial</a></li>
                <li><a class="dropdown-item" href="#">Configuración</a></li>
                <hr class="dropdown-divider">
                <% if (data.session.admin >= 1) { %>
                    <li><a class="dropdown-item" href="/products/create">Nuevo producto</a></li>
                <% if (data.session.admin == 2) { %>
                    <li><a class="dropdown-item" href="/users/panel">Panel de usuarios</a></li>
                <% } %>
                    <hr class="dropdown-divider">
                <% } %>
                <li><a class="dropdown-item sign-out" href="/users/logout">Cerrar sesión</a></li>
                <% } %>

            </ul>

        </div>

        <div class="container-logo">
            
            <a href="/"><img id="logo-hedwig-header" src="/img/LOGO.png" alt="Logo Hedwig"></a>

        </div>

        <% if (data.session.usuarioLogueado) { %>
            
            <div class="container-cart-mobile">
    
                <div id="header-amount-products-mobile-desktop" class="cantidadArticulosM"></div>
                <a href="/products/carrito"><i class="fas fa-shopping-cart" id="cart-header"></i></a>
    
            </div>
    
        <% } %>
        

        <% if (data.session.usuarioLogueado) { %>
         
            <div class="container-cart-tablet">
    
                <span class="total montoFinal"></span>
                <a class="link-cart-tablet" href="/products/carrito">
    
                    <span style="display: flex" class="cantidadArticulos"></span>
    
                </a>
    
            </div>
        <% } %>

        <div class="header-search-bar-desktop">

            <form action="/search" class="search-bar-desktop">

                <input type="text" placeholder="Buscar libros, autores, géneros..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>

            </form>

        </div>

        <div class="btn-group header-user-logo">
 
            <% if(!data.session.usuarioLogueado) { %> 
            <div class="container-not-logged-in">
                <a href="/users/login"><button class="btn button-width"> Iniciar sesión </button></a>
                <a href="/users/register"><button class="btn button-width"> Registrarse </button></a>
            </div>
            <% } else { %> 
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></button>
            <% } %> 

            <ul class="dropdown-menu">

                <li><a class="dropdown-item" href="/users/historial">Historial</a></li>
                <li><a class="dropdown-item" href="/users/configuracion">Configuración</a></li>
                <li><hr class="dropdown-divider"></li>
                <% if (data.session.admin >= 1) { %>
                    <li><a class="dropdown-item" href="/products/create">Nuevo producto</a></li>
                <% if (data.session.admin == 2) { %>
                    <li><a class="dropdown-item" href="/users/panel">Panel de usuarios</a></li>
                <% } %>    
                    <li><hr class="dropdown-divider"></li>
                <% } %>
                <li><a class="dropdown-item sign-out" href="/users/logout">Cerrar sesión</a></li>

            </ul>

        </div>

    </section>

    </section>



    <section class="header-navbar-desktop dropdown">

        <div class="container-header-navbar-desktop">

            <a href="#" class="anchor-categories btn dropdown-toggle" role="button" id="dropdown-categories" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <li>

                    <ul class="dropdown-menu-categories">

                        <li class="dropdown-item">

                            <b class="category-title">Populares</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Acción&id=4"> Acción </a></li>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Policiales&id=13"> Policiales </a></li>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Ciencia%20ficción&id=2"> Ciencia ficción </a></li>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Fantasía&id=3"> Fantasía </a></li>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Terror&id=1"> Terror </a></li>
                            </ul>

                        </li>
                        
                        <li class="dropdown-item">

                            <b class="category-title">Más géneros</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Desarrollo%20personal&id=7"> Desarrollo personal </a></li>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Negocios%20y%20finanzas&id=8"> Negocios y finanzas </a></li>
                                <li class="dropdown-item"><a href="/products/genero?categoria=Cómics%20y%20Manga&id=14"> Cómics y Manga </a></li>
                            </ul>

                        </li>

                        <li class="dropdown-item">

                            <b class="category-title">Autores</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/products/autor?autor=Edgar%20Allan%20Poe&id=31"> Edgar Allan Poe </a></li>
                                <li class="dropdown-item"><a href="/products/autor?autor=J.K.%20Rowling&id=2"> J.K. Rowling </a></li>
                                <li class="dropdown-item"><a href="/products/autor?autor=Stephen%20King&id=3"> Stephen King </a></li>
                            </ul>

                        </li>
                        
                        <li class="dropdown-item">

                            <b class="category-title">Sagas</b>
                            <hr class="dropdown-divider">
                            <ul>
                                <li class="dropdown-item"><a href="/search?search=Harry%20Potter"> Harry Potter </a></li>
                                <li class="dropdown-item"><a href="/search?search=Maze%20Runner"> Maze runner </a></li>
                                <li class="dropdown-item"><a href="/search?search=Game%20Of%20Thrones"> Game of Thrones </a></li>
                            </ul>

                        </li>

                    </ul>

                </li>

            </ul>

            <a href="https://hedwig-dashboard.web.app">Dashboard <i class="fas fa-tachometer-alt"></i></a>
            <a href="/products/novedades">Novedades <i class="fas fa-newspaper"></i></a>
            <a href="/products/ofertas">Ofertas <i class="fas fa-tag"></i></a>
        </div>

        <% if (data.session.usuarioLogueado) { %>
            
                    <div class="container-header-cart">
            
                        <div class="total-cart ">
            
                            <span class="montoFinal"></span>
            
                        </div>  
            
                        <div>
            
                            <a href="/products/carrito" class="anchor-cart-products"><span class="header-amount-products cantidadArticulos"><i class="fas fa-shopping-cart"></i></span></a>
            
                        </div>
         
        <% } %>

        </div>

    </section>

    </div>

</header>

<script>

    window.addEventListener("load", () => {

        let monto = localStorage.getItem("monto")
        document.querySelectorAll(".montoFinal").forEach(element => element.innerText = `$${monto}`)
        let cantidadArticulos = localStorage.getItem("cantidadArticulos")
        document.querySelectorAll(".cantidadArticulos").forEach(element => element.innerHTML = `${cantidadArticulos} <i class="fas fa-shopping-cart" </i>`)
        document.querySelectorAll(".cantidadArticulosM").forEach(element => element.innerHTML = `${cantidadArticulos}`)

    })

</script>
