<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error 404- Pagina no encontrada</title>
    <!-- Head -->
    <%- include("./partials/head") %>
    <!-- Fin del head -->
</head>
<body>
    <!-- Header -->

    <%- include('./partials/header') %>
    
    <!-- Fin del header -->
    <main>
        <div class="error-container">
            <img class = "error-logo" src = "/img/Logo-error.png" width="300px">
            <h1 class="error-heading"> UPS! Parece que no pudimos encontrar lo que buscabas...</h1>
            <a href="/"><button class= "boton-error"> Volver al inicio</button></a>
        </div>

    </main>
    
    
    <!-- Footer -->

	<%- include("./partials/footer") %>

	<!-- Fin del footer -->
</body>
</html>