<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hedwig/iniciar sesion</title>

    <script src="https://kit.fontawesome.com/8bd2ba961f.js" crossorigin="anonymous"></script>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="main-header">

        <section class="header-logo-section">

            <div class="btn-group container-hamburguer-menu">

                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i id="hamburguer-menu" class="fas fa-bars"></i></button>

                <ul class="dropdown-menu">

                    <li><a class="dropdown-item" href="login.html">Iniciar sesión</a></li>
                    <li><a class="dropdown-item" href="register.html">Registrarse</a></li>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="#">Categorías</a></li>
                    <li><a class="dropdown-item" href="#">Best sellers</a></li>
                    <li><a class="dropdown-item" href="#">Novedades</a></li>
                    <li><a class="dropdown-item" href="#">Ofertas</a></li>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="#">Configuración</a></li>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item sign-out" href="#">Cerrar sesión</a></li>

                </ul>

            </div>

            <div class="container-logo">
                
                <a href="/index.html"><img id="logo-hedwig-header" src="/img/LOGO.png" alt="Logo Hedwig"></a>

            </div>

            <div class="container-cart-mobile">

                <div id="header-amount-products-mobile-desktop">3</div>
                <a href="/carrito.html"><i class="fas fa-shopping-cart" id="cart-header"></i></a>

            </div>
            
            <div class="container-cart-tablet">

                <span class="total">$4000</span>
                <a class="link-cart-tablet" href="#">

                    <span>3</span>
                    <i class="fas fa-shopping-cart"></i>

                </a>

            </div>

            <div class="header-search-bar-desktop">

                <form class="search-bar-desktop">

                    <input type="text" placeholder="Buscar libros, autores, géneros..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
    
                </form>

            </div>

            <div class="btn-group header-user-logo">

                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></button>

                <ul class="dropdown-menu">

                    <li><a class="dropdown-item" href="#">Mi carrito</a></li>
                    <li><a class="dropdown-item" href="#">Historial</a></li>
                    <li><a class="dropdown-item" href="/login.html">Iniciar Sesión</a></li>
                    <li><a class="dropdown-item" href="/register.html">Registrarse</a></li>
                    <li><a class="dropdown-item" href="#">Configuración</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item sign-out" href="#">Cerrar sesión</a></li>

                </ul>

            </div>

        </section>

        </section>

        <section class="header-search-bar-tablet-mobile">

            <form class="search-bar-tablet-mobile">

                <input type="text" placeholder="Buscar libros, autores, géneros..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>

            </form>

        </section>

        <section class="header-navbar-desktop dropdown">

            <div class="container-header-navbar-desktop">

                <a href="#" class="anchor-categories btn dropdown-toggle" role="button" id="dropdown-categories" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                    <li>

                        <ul class="dropdown-menu-categories">

                            <li class="dropdown-item">

                                <b class="category-title">Populares</b>
                                <hr class="dropdown-divider">
                                <ul>
                                    <li class="dropdown-item"><a href="#"> Acción </a></li>
                                    <li class="dropdown-item"><a href="#"> Aventura </a></li>
                                    <li class="dropdown-item"><a href="#"> Ciencia ficción </a></li>
                                    <li class="dropdown-item"><a href="#"> Fantasía </a></li>
                                    <li class="dropdown-item"><a href="#"> Terror </a></li>
                                </ul>

                            </li>
                            
                            <li class="dropdown-item">

                                <b class="category-title">Más géneros</b>
                                <hr class="dropdown-divider">
                                <ul>
                                    <li class="dropdown-item"><a href="#"> Ciencia y geografía </a></li>
                                    <li class="dropdown-item"><a href="#"> Desarrollo personal </a></li>
                                    <li class="dropdown-item"><a href="#"> Negocios y finanzas </a></li>
                                    <li class="dropdown-item"><a href="#"> Psicología </a></li>
                                    <li class="dropdown-item"><a href="#"> Religión </a></li>
                                    <li class="dropdown-item"><a href="#"> Salud </a></li>
                                    <li class="dropdown-item"><a href="#"> Tecnología </a></li>
                                    <li class="dropdown-item"><a href="#"> Ver todos los géneros... </a></li>
                                </ul>

                            </li>

                            <li class="dropdown-item">

                                <b class="category-title">Autores</b>
                                <hr class="dropdown-divider">
                                <ul>
                                    <li class="dropdown-item"><a href="#"> Agatha Christie </a></li>
                                    <li class="dropdown-item"><a href="#"> Edgar Allan Poe </a></li>
                                    <li class="dropdown-item"><a href="#"> Franz Kafka </a></li>
                                    <li class="dropdown-item"><a href="#"> J.K. Rowling </a></li>
                                    <li class="dropdown-item"><a href="#"> Stephen King </a></li>
                                </ul>

                            </li>
                            
                            <li class="dropdown-item">

                                <b class="category-title">Sagas</b>
                                <hr class="dropdown-divider">
                                <ul>
                                    <li class="dropdown-item"><a href="#"> Harry Potter </a></li>
                                    <li class="dropdown-item"><a href="#"> Maze runner </a></li>
                                    <li class="dropdown-item"><a href="#"> Game of Thrones </a></li>
                                    <li class="dropdown-item"><a href="#"> Star wars </a></li>
                                </ul>

                            </li>

                        </ul>

                    </li>

                </ul>

                <a href="#">Best sellers</a>
                <a href="#">Novedades</a>
                <a href="#">Ofertas</a>

            </div>

            <div class="container-header-cart">

                <div class="total-cart">

                    <span>$4000</span>

                </div>

                <div>

                    <a href="/carrito.html" class="anchor-cart-products"><span class="header-amount-products">3 <i class="fas fa-shopping-cart"></i></span></a>

                </div>

            </div>

        </section>

    </header>

    <main>

    

     <section class= "login">
       

<form action= "/login.html" method="POST">

    
     

 <div class= "login2">
    <h2 class="form-title" id="signup">Inicia sesion</h2>

<div class="emaillogin">
    <label for="email"></label>
    <input type="email" name= "email" id= "email" autofocus= 1 placeholder="&#x1F4E7 Correo electronico" required aria-required="true" aria-describedat="form-email.error">
    <div class="invalid-feedback" id="form-email-error"></div>
</div>

<div class="passwordlogin">

    <label for="name"></label>
    <input type="password" name= "password" id= "password" autofocus= 1 placeholder=" &#x1F511 Contraseña" >
</div>
 <br>

 <div>
    <button type="submit" class="buttonlogin">Iniciar sesion</button>

</div> 

<div class="preg-singup">

<div class="preg-olvi"> ¿Olvidaste tu contraseña?</div>

<div class="buttonsingup"><button type="button" class="singup"><a href="http://localhost:3000/register.html" class= "buttonx">Registrarse </a></button> </div>

</div>
</div>



</form>

     </section>

    </main>




    <footer class="main-footer">

        <section class="footer-social-media">

            <div class="follow-us">

                <p>Seguinos</p>

            </div>

            <div class="social-media-logos">

                <div class="logo">

                    <a href="#"><i class="fab fa-facebook-f facebook"></i></a>

                </div>

                <div class="logo">

                    <a href="#"><i class="fab fa-twitter twitter"></i></a>

                </div>

                <div class="logo">

                    <a href="#"><i class="fab fa-instagram instagram"></i></a>

                </div>

            </div>
            
        </section>

        <section class="footer-navbar">

            <ul class="footer-navbar-list">

                <li class="footer-navbar-item border-right">

                    <b><a href="#">Hedwig</a></b>
                    <ul class="section-navbar">

                        <a href="#"><li class="footer-list-element">Quienes somos</li></a>
                        <a href="#"><li class="footer-list-element">Contactanos</li></a>
                        <a href="#"><li class="footer-list-element">Trabajá con nosotros</li></a>
                        
                    </ul>

                </li>

                <li class="footer-navbar-item">
                    
                    <b><a href="#">Ayuda</a></b>
                    <ul class="section-navbar">

                        <a href="#"><li class="footer-list-element">Atención al cliente</li></a>
                        <a href="#"><li class="footer-list-element">Promociones</li></a>
                        <a href="#"><li class="footer-list-element">Costos y tiempo de envío</li></a>
                        <a href="#"><li class="footer-list-element">Devoluciones</li></a>
                        <a href="#"><li class="footer-list-element">Preguntas frecuentes</li></a>

                    </ul>

                </li>

                <li class="footer-navbar-item border-left-and-right">

                    <b><a href="#">Mi usuario</a></b>
                    <ul class="section-navbar">

                        <a href="/login.html"><li class="footer-list-element">Iniciar sesión</li></a>
                        <a href="/register.html"><li class="footer-list-element">Registrarse</li></a>
                        <a href="#"><li class="footer-list-element">Suscripción a novedades</li></a>
                        <a href="#"><li class="footer-list-element">Mi carrito</li></a>

                    </ul>

                </li>

                <li class="footer-navbar-item">

                    <b><a href="#">Información importante</a></b>
                    <ul class="section-navbar">

                        <a href="#"><li class="footer-list-element">Términos y condiciones</li></a>
                        <a href="#"><li class="footer-list-element">Política de cookies</li></a>
                        <a href="#"><li class="footer-list-element">Política de privacidad</li></a>

                    </ul>

                </li>

            </ul>

        </section>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>