/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  padding-top: 75px;
}

.max-width {
  
  margin: auto;
  width: 100%;
}

/* Fin general */

/* Header (Alan) */

.main-header {
  background-color: #222026;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
/* Seccion 1 del header, incluye carrito, menú y logo en mobile y tablet, y logo, barra de búsqueda y usuario en desktop */

.header-logo-section {
  display: flex;
  padding-top: 2%;
  height: 100px;
  justify-content: space-between;
}

.container-hamburguer-menu {
  align-self: center;
}

#check-hamburguer-menu {
  display: none;
}



#hamburguer-menu {
  color: #5a8da9;
  font-size: 1.5em;
  margin: 10px;
}

#logo-hedwig-header {

  width: 80px;
  align-self: center;
  margin-bottom: 10px;
}

.container-logo {
  align-self: center;
  margin: 10px;
}

.container-cart-mobile {
  align-self: center;
}

.container-cart-tablet {
  display: none;
}

.container-hamburguer-menu button.btn.dropdown-toggle::after {
  display: none;
}

.container-hamburguer-menu button.btn.dropdown-toggle {
  padding: 0;
}

.sign-out {
  color: #E91D26;
}

#header-amount-products-mobile-desktop {
  position: relative;
  top: 10px;
  right: 3px;
  color: #ffffff;
  border: solid #ffffff 1px;
  background-color: #d48938;
  border-radius: 50%;
  padding: 3px;
  font-size: 2em;
  text-align: center;
  transform: scale(0.3, 0.3);
  z-index: 2;
}

#cart-header {
  position: relative;
  bottom: 30px;
  color: #5a8da9;
  font-size: 1.5em;
  margin: 10px;
  z-index: 1;
}

#cart-header:hover {
  color: #d48938;
}

.header-search-bar-tablet-mobile {
  display: none;
  position: relative;
  top: 20px;
  margin: 0 10px;
  padding-left: 15%;
}

form.search-bar-tablet-mobile [type='text'],
form.search-bar-desktop [type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

form.search-bar-tablet-mobile button,
form.search-bar-desktop button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #5a8da9;
  color: white;
  font-size: 17px;
  border: 1px solid #5a8da9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

form.search-bar-tablet-mobile button:hover,
form.search-bar-desktop button:hover {
  background: #d48938;
  border: 1px solid #d48938;
}

.header-search-bar-desktop {
  display: none;
}

.header-user-logo {
  align-self: center;
  margin: 10px;
  display: none;
}

.button-width {
  width: 120px;
  background-color:#5a8da9;
  color: #fff
}

.header-user-logo .btn {
  margin: 0px 5px
}

.header-search-bar-desktop {
  margin: 10px;
  width:100%;
}

.header-navbar-desktop {
  display: none;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#check-user {
  display: none;
}

label[for='check-user'] {
  cursor: pointer;
}

.btn-group button i, .dropdown-toggle {
  color: #5a8da9;
}

#black-icon {
  color: black
}

.dropdown-toggle:hover {
  color:#5a8da9;
}

#check-user:checked + label i {
  color: #d48938;
}

/* Fin de la sección 1 del header, también hay estilos para el header en las medias de 768 y 1280 */

/* Fin del header (Alan) */

 /* Main-carrito */

 
 /* Porque bootstrap les pone margin-bottom */
 
 .info-producto p {
   margin-bottom: 0;
 }
 
 .info-producto h3 {
   margin-bottom: 0;
 }
 
 /* Terminados de sacar los margin-bottom */

 .libro-guion-carrito{
  margin-left: 10px;
  width: 130px;
  height: 160px;
  border: 2px solid #5a8da9;
}
.elemento-carrito{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.2% 0;
  background-color: rgba(225, 225, 225, 0.8);
  padding: 10px;
  border: 2px solid #5a8da9;
}

.titulo-entrada-carrito{
  padding: 30px 30px 0 30px;
  background-color: rgba(225, 225, 225, 0.8);
  width: 90%;
  margin: auto;
}

.lista-articulos .fa-star {
  color:#FED221;
  font-size: 12px;
}

.titulo-entrada-carrito .dropdown-divider, .cart-dropdown {
  color: #5a8da9;
}

.container-entrada-carrito {
  display: flex;
  align-items: center;
}

.container-entrada-carrito i {
  padding: 10px;
  color:#5a8da9;
}


.container-entrada-carrito span {
  font-size: 1.2em;
}

.container-entrada-carrito span b {
  color:#d48a38;
}

.carrito-titulo-libro{
  font-size: 20px;
  font-weight: bold;
  color: #d48938;
}

.container-info-1{
  display: flex;
}

.container-info-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.lista-articulos {
  padding: 0 2rem;
}

.carrito-cantidad-productos .form-control {
  width: 40px;
}

.carrito-compra{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  background-color: rgba(225, 225, 225, 0.8);
  padding: 20px;
  align-items: center;
  border: 2px solid #5a8da9;
}

.logo-carrito{
  width: 20%;
}

.info-carrito{
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.boton-para-comprar{
  margin-top: 10px;
  text-align: center;
  background-color:#d48938;
  border: solid 20px #d48938;
  border-radius: 15px;
  color: white;
}

.boton-para-comprar:hover{
  background: #5a8da9;
  border: solid 20px #5a8da9;
}


.btn-info{
  background-color: #5a8da9;
  border: none;
}

.btn-info:hover{
  background-color:#d48938;
} 

.info-producto{
  margin-left: 10px;

}
.carrito-cantidad-productos{
  display: flex;
  align-items: center;
}
.carrito-cantidad-productos label{
  margin-right: 10px;
}

.contenedor-carrousel-carrito{
  background-color: rgba(225, 225, 225, 0.8);
  border: 2px solid #5a8da9;
}

.carousel-item {
  width: 100%;
  padding:25px;
}

/* Footer (Alan) */

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #5A8DA9;
}

.footer-navbar-list {
  background-color: #222026;
}

.social-media-logos {
  display: flex;
}

.logo a,
.follow-us p  {
  color: #999999
}

.logo {
  margin: 0px 10px 10px 10px;
}


.facebook:hover {
  color: #38529A;
}

.twitter:hover {
  color: #1C9CEA;
}

.instagram:hover {
  color: #DC2F48;
}

.footer-navbar a {
  text-decoration: none;
  color: #5a8da9;
}

.footer-navbar a:hover {
  color: #d48938;
}

.footer-navbar-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}

.footer-navbar-list li,
.section-navbar li {
  list-style: none;
}

.footer-navbar-item {
  width: 100%;
  margin: auto;
  align-self: center;
  border-top: #5a8da9 1px solid
}

.main-footer {
  background-color: #222026;
}

.section-navbar {
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

/* Fin del footer */

/*DETALLES.HTML (Blue)*/

.main-detalles{
  background-color: #ededed;

}

.imagen-detalles{
  padding: 10px;
}

.header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.edit-delete {
  display: flex;
}

.edit-delete a {
  margin: 0 10px;
}

.ruta-de-producto{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 2%;
  margin: 0 4.5%;
  width: 100%;
}

.ruta-de-producto a {
  text-decoration: none;
  color:#5a8da9;
}

.estrellitas{
  color: orange;
  
}

.boton-compra{
  margin-top: 30px;
  text-align: center;
  background-color:#d48938;
  border: solid 20px #d48938;
  border-radius: 20px;
  color: white;
}

.titulo-libro{
  color:#5a8da9;
  font-weight: bold;
  box-sizing: border-box;
}

.precio{
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
}

.fragmento-libro{
  padding: 2%;
}


.boton-compra:hover{
  background-color: #5a8da9;
  border: solid 20px #5a8da9

}

.caracteristicas{
  margin: 2%;
  display: block;
  padding: 25px;
  padding-left: 35px;
  color: #5a8da9;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);

}
.libros-interesados{
  margin-top: 3%;
  text-align: center;
  color: #5a8da9;
  font-weight: bolder;
}

.ubicacion-libros{
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 5%;
  margin: 0px;
}
.libros-sugeridos{
  margin: 2%;
}

.detalle-del-producto{
  background-color: white;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  margin: 2%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}




/* Precio en Detalle del Producto*/
.precio-tarjeta-detalle{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.precio-original-detalle{
  color: gray;
}

.product-price-detalle {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  margin-right: 20px;

}
.offer-percent-detalle{
  color: green;
  margin: 0;
  font-size: 1.3rem;
}

/* Fin detalles */



/* Inicio Main Home (alex)*/

main {
  background-image: url("https://res.cloudinary.com/libreria-hedwig/image/upload/v1635596661/descarga_10_ofl4x4.jpg");
  background-attachment: fixed;
}

.bs-hedwig {
  box-shadow: #5a8da9 0px 0px 8px 4.5px;
}


.container {
display: flex;
flex-flow: row wrap;
padding: 25px;
}

.main-title-home {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #ebebeb;
}

.main-title-home h1 {
  border: 2px solid #d48a38;
  padding: 10px;
  border-radius: 15px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #d48a38;
  width: 120%;
}

.card {
margin: 10px auto;
width: 17rem;
transition: box-shadow 450ms;
text-decoration: none;
align-items: center;
padding-top: 10px;
}

.oferta-card {
  position: absolute;
  width: 30%;
  background-color:#008000;
  color: #fff;
  right: 12rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
}

.precio-producto-catalogo {
  color: #001 !important; 
}

.novedad-card {
  position: absolute;
  width: 40%;
  background-color: #d48938;
  color: #fff;
  right: 10.25rem;
  top: 2.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
}

.card-icon-plus {
  margin-left: 3px;
}

.container-catalogo {
  background-color: #5A8DA9;
}

.offer-percent{
  color: green;
  font-size: 1.3em;
  margin: 0px
 
  
}
.precio-original{
  font-size: 1.5em;
  padding-right: 10px;
  color:slategray;
  margin: 0px
}


.precio-tarjeta{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0px
  
}

.enviosGratis{
    color: green;
    font-size: 1.1em;
    margin: 0px;
    padding-bottom: 20px ;
}

.enviosGratisDetalles{
  color: green;
  font-size: 1.1em;
  padding-bottom: 10px ;
}

.input-articulos {
  width: 50px;
}

.precio-carrito {
  width: 0px;
}

.errorValidationWarning {
  position: absolute;
  left: 345px;
  top: 5px;
  padding: 8px
}

.card:hover {
box-shadow: 3px 3px 6px 3px #d48a38;
}

.card:hover b {
  color: #000
}

.carousel-indicators {
  display: none;
}


.libro-usuario-carrito:hover {
  color: #000;
  box-shadow: 3px 3px 6px 6px #5a8da9;
  transition: all .3s;
}

#carouselExampleIndicators {
  padding: 0;
  max-width: none;
  width: 100%;
  position: relative;
  top: 24px;
}

.carousel-item {
  padding: 0;
}

.card-img-top {
  width: 150px;
  height: 250px;
  
}

.contenido-carta-articulo {
  text-align: center;
  margin: 0px;
}

.titulo-articulo-home {
  font-size: 1.5em;
  padding: 10px;
  color: #d48a38;
  font-weight: bold;
}

.precio-home {
color: black;
font-size: 1.5em;
font-weight: bold;
;
}

.valoracion-home {
  color: #5a8da9;
  padding-bottom: 10px;
}

.valoracion-estrellas-home {
  text-align: center;
  color: #5a8da9;
}

#contenedor-generos {
  margin-top: 30px;
  padding-bottom: 0;
  display: flex;
}

.titulo-generos {
  border: 2px solid #d48a38;
  padding: 10px;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #d48a38;
  margin-bottom: 2%;
  width: 120%;
}


.fila-generos {
display: flex;
flex-flow: row wrap;
width: 100%;
margin: auto;
margin-top: 15px;
background-color: #5a8da9;
border-radius: 30px;
}

.col {
  display: flex;
  flex-flow: row wrap;
  border:  0px solid white;
  align-content: flex-end;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  background-color: white;
  padding-bottom: 10px;
  transition: background-color 450ms;
  border-radius: 70%;
}

.col:hover {
background-color: #d48a38;
}

.img-fluid {
  padding-top: 10px;
  border:0px white solid;
  border-radius: 70%;
}

/* Fin del home (alex)

/*Login, Lucia*/

.cookies{
  text-decoration-style: none;
  text-align: center;
  font-weight:inherit;
  font-size: 14px;
}

.libro-detalles {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.validation-error {
  color: white !important;
  background-color: red;
  border: 1px solid #000;
  border-radius: 30px;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  font:600 16px/18px 'Open Sans',sans-serif;
	width:100%;
  margin: auto;
	max-width:525px;
	min-height:690px;
  justify-content: center;
	position:relative;
	background:url("/img/libros.jpg");
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  
  
}

.login-html{
  justify-content: center;
	width:100%;
	height:100%;
	position:absolute;
	padding:20px 70px 50px 70px;
	background:rgba(33, 39, 56, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
  justify-content: center;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group .button:hover{
  background: chocolate;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(155, 154, 154, 0.1);
  margin-right: 10px;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
  color:#ebebeb
}

.icon2{
  color: #ebebeb
}

#button-registrate{ 
  justify-content: center;
  text-decoration-style: none;
  text-align: center;
  font-weight:inherit;
  font-size: 18px;
}


/*fin login*/

/*Register, Lucia*/

/*fin register*/
/*whatsapp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration:solid;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/* Administrador */

#small-btn {
  margin: 0;
  border: 0;
  
}

.edit-product {
  display: none;
}

.admin-heading {
  text-align: center;
  position: relative;
  margin: 60px auto;
  font-weight:bolder;
}

.container-edit-image {
  border: 1px solid black;
  border-style: dashed;
}

#form-edit-product {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 1px;  
}

.container2-edit-product {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap
}

.container3-edit-product {
  width: 100%;
}

#image-edit-placeholder {
  visibility: hidden;
}

.edit-camera-icon {
  font-size: 2em;
  display: block;
  text-align: center;
}

.edit-valoracion-estrellitas {
  display: block;
}

.edit-diskette {
  font-size: 20px;
  padding: 0 10px
}

.edit-input-style {
  text-align: center;
  border-radius: 3px;
  margin: 15px;
  padding: 10px;
  width: 70%;
  border: 1px solid rgb(191, 191, 191);
  color: gray;

}
.edit-input-foto{
text-align: center;
padding-top: 7px;
padding-bottom: 0;
margin: 15px;
}

.upload-bottom{
display: flex;
flex-direction: column;
}


.edit-input-textarea{
  text-align: justify;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  width: 95%;
  border: 1px solid rgb(191, 191, 191);
}

.edit-precio {
  text-align: center;
  margin-top: 20px;
}

.edit-precio .edit-input-style {
  padding: 10px 0;
}

.edit-image-section {
  width: 20%
}

.edit-caracteristicas {
  background-color: #ebebeb;
  padding: 10px;
  padding-top:15px;
  text-align: center;
}

.edit-valoracion {
  text-align: left;
}

.edit-caracteristicas ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.edit-description-section {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.edit-titulo-libro {
  width: 50%;
  padding: 10px;
}

label[for="edit-valoracion"] {
  display: inline;
}

.edit-btn-reset {
  background-color: #5a8da9;
  color: #FFF
}

.edit-btn-reset:hover {
  color: #FFF
}

.edit-info-product1 {
  width: 95%;
  
}

.detalle-del-producto-admin{
  background-color: #5A8DA9;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
 
}

.main-admin-container{
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.gest-usuarios-container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: white;
  border: solid 1px #222026;
  margin-bottom: 33px;
}

.form-admin{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 5px;
}

.form-admin ul{
  padding: 0;
}

.admin-form-label{
  color: #5a8da9;
  font-weight: bolder;
  font-style: italic;
}

.generos-autores-container{
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  border: 1px solid #222026;
  height: 325px;
}

.form-genero{
  margin-bottom: 15px;
}

.form-autor{
  margin-top: 15px;
}

.header-seccion-master{
  color: #d48938;
  border: 1px solid #222026;
  width: 100%;
  background-color: #222026;
}





/* Fin administrador */

/* Inicio error page */

.error-container{
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-items: center;
  margin: auto;
  max-width: 600px;
  align-items: center;
  padding: 3%;
}

.error-heading{
  margin: 0;
  margin-top: 13px;
  text-align: center;
  font-weight: bold;

}
 
.error-logo{
  display: flex;
  padding: 40px;

}
.boton-error{
  background-color: #d48a38;
  border: solid 25px #d48a38;
  border-radius: 40px;
  margin: 20px;
  color: white;
  font-size: 20px;
  margin-top: 30px;
}


/*Fin Error page */

/* Media queries */



/* Carrusel*/

.libros-carrusel{
  padding-left: 10%;
  padding-right: 10%;
  padding-top:20px;
}

/* Fin de Carrusel*/

/* Panel de usuarios*/

.container-panel{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.title-panel{
  font-weight: bolder;
  text-align: center;
  padding: 25px;
  padding-top: 50px;
  

}

.list-group{
  padding: 5px;
}

.list-group-item{
  font-weight: bolder;
  border:none;
  list-style: none;
  justify-content: space-between;
  background: white;

}
.list-group-item1{
  float:right;
}

.d-flex{
  border: solid 1px rgb(190, 189, 189);
  align-items: center;
  background-color: white;
  justify-content: stretch
  
}


.imagen-panel{
  border: none;
  border-radius: 100%;
}
