/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

.max-width {
  max-width: 1450px;
  margin: auto;
  width: 100%;
}

/* Fin general */

/* Header (Alan) */

.main-header {
  background-color: #222026;
  width: 100%;
  height: 150px;
}

/* Seccion 1 del header, incluye carrito, menú y logo en mobile y tablet, y logo, barra de búsqueda y usuario en desktop */

.header-logo-section {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.container-hamburguer-menu {
  align-self: center;
}

#check-hamburguer-menu {
  display: none;
}

#hamburguer-menu {
  color: #5a8da9;
  font-size: 1.5em;
  margin: 10px;
}

#logo-hedwig-header {
  padding-top: 20px;
  width: 80px;
  align-self: center;
  margin-bottom: 10px;
}

.container-logo {
  align-self: center;
  margin: 10px;
}

.container-cart-mobile {
  align-self: center;
}

.container-cart-tablet {
  display: none;
}

.container-hamburguer-menu button.btn.dropdown-toggle::after {
  display: none;
}

.container-hamburguer-menu button.btn.dropdown-toggle {
  padding: 0;
}

.sign-out {
  color: #E91D26;
}

#header-amount-products-mobile-desktop {
  position: relative;
  top: 10px;
  right: 3px;
  color: #ffffff;
  border: solid #ffffff 1px;
  background-color: #d48938;
  border-radius: 50%;
  padding: 3px;
  font-size: 2em;
  text-align: center;
  transform: scale(0.3, 0.3);
  z-index: 2;
}

#cart-header {
  position: relative;
  bottom: 30px;
  color: #5a8da9;
  font-size: 1.5em;
  margin: 10px;
  z-index: 1;
}

#cart-header:hover {
  color: #d48938;
}

.header-search-bar-tablet-mobile {
  position: relative;
  top: 20px;
  margin: 0 10px;
}

form.search-bar-tablet-mobile [type='text'],
form.search-bar-desktop [type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search-bar-tablet-mobile button,
form.search-bar-desktop button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #5a8da9;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search-bar-tablet-mobile button:hover,
form.search-bar-desktop button:hover {
  background: #d48938;
}

.header-search-bar-desktop {
  display: none;
}

.header-user-logo {
  align-self: center;
  margin: 10px;
  display: none;
}

.header-search-bar-desktop {
  align-self: center;
  margin: 10px;
  width: 80%;
}

.header-navbar-desktop {
  display: none;
}

#check-user {
  display: none;
}

label[for='check-user'] {
  cursor: pointer;
}

.btn-group button i, .dropdown-toggle {
  color: #5a8da9;
}

.dropdown-toggle:hover {
  color:#5a8da9;
}

#check-user:checked + label i {
  color: #d48938;
}

/* Fin de la sección 1 del header, también hay estilos para el header en las medias de 768 y 1280 */

/* Fin del header (Alan) */

 /* Main-carrito */

 
 /* Porque bootstrap les pone margin-bottom */
 
 .info-producto p {
   margin-bottom: 0;
 }
 
 .info-producto h3 {
   margin-bottom: 0;
 }
 
 /* Terminados de sacar los margin-bottom */

 .libro-guion-carrito{
  margin-left: 10px;
  width: 130px;
  height: 160px;
}
.elemento-carrito{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}

.titulo-entrada-carrito{
  padding: 30px 30px 0 30px;
}

.lista-articulos .fa-star {
  color:#FED221;
  font-size: 12px;
}

.titulo-entrada-carrito .dropdown-divider, .cart-dropdown {
  color: #5a8da9;
}

.container-entrada-carrito {
  display: flex;
  align-items: center;
}

.container-entrada-carrito i {
  padding: 10px;
  color:#5a8da9;
}


.container-entrada-carrito span {
  font-size: 13px;
}

.container-entrada-carrito span b {
  color:#d48a38;
}

.carrito-titulo-libro{
  font-size: 20px;
}

.container-info-1{
  display: flex;
}

.container-info-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.lista-articulos {
  padding: 0 2rem;
}

.carrito-cantidad-productos .form-control {
  width: 40px;
}

.carrito-compra{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border:#d48938 1px solid;
  padding: 10px;
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.logo-carrito{
  width: 150px;
}
.btn-info{
  background-color: #5a8da9;
  border: none;
}

.btn-info:hover{
  background-color:#d48938;
} 

.info-producto{
  margin-left: 10px;

}
.carrito-cantidad-productos{
  display: flex;
  align-items: center;
}
.carrito-cantidad-productos label{
  margin-right: 10px;
}


/* Footer (Alan) */

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}

.footer-navbar-list {
  background-color: #222026;
}

.social-media-logos {
  display: flex;
}

.logo a,
.follow-us p  {
  color: #999999
}

.logo {
  margin: 10px;
}


.facebook:hover {
  color: #38529A;
}

.twitter:hover {
  color: #1C9CEA;
}

.instagram:hover {
  color: #DC2F48;
}

.footer-navbar a {
  text-decoration: none;
  color: #5a8da9;
}

.footer-navbar a:hover {
  color: #d48938;
}

.footer-navbar-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

.footer-navbar-list li,
.section-navbar li {
  list-style: none;
}

.footer-navbar-item {
  width: 100%;
  margin: auto;
  align-self: center;
  border-top: #5a8da9 1px solid
}

.main-footer {
  background-color: #222026;
}

.section-navbar {
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

/* Fin del footer */

/*DETALLES.HTML (Blue)*/

.main-detalles{
  background-color: #ededed;

}

.ruta-de-producto{
  margin-left: 10px;
  padding: 10px;
  padding-top: 2%;
}

.estrellitas{
  color: orange
}

.boton-compra{
  margin-top: 30px;
 
  text-align: center;
  background-color:#d48938;
  border: solid 20px #d48938;
  border-radius: 15px;
  color: white;
}

.titulo-libro{
  color:#5a8da9;
  font-weight: bold;
  box-sizing: border-box;
}

.precio{
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
}

.fragmento-libro{
  padding: 2%;
}


.boton-compra:hover{
  background-color: #5a8da9;
  border: solid 20px #5a8da9

}

.caracteristicas{
  margin: 2%;
  display: block;
  padding: 25px;
  padding-left: 35px;
  color: #5a8da9;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);

}
.libros-interesados{
  margin-top: 3%;
  text-align: center;
  color: #5a8da9;
  font-weight: bolder;
}

.ubicacion-libros{
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 5%;
}
.libros-sugeridos{
  margin: 2%;
}

.detalle-del-producto{
  background-color: white;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  margin: 2%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 10px;

}





/* Inicio Main Home (alex)*/

main {
  background-color: #ebebeb;
}

.container {
display: flex;
flex-flow: row wrap;
padding: 25px;
}

.main-title-home {

  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #d48a38;
}

.main-title-home h1 {
  padding: 5px;
  border: 2px solid #d48a38;
  padding: 10px;
}

.card {
margin: 10px auto;
width: 12rem;
background-color: #212026;
transition: box-shadow 450ms;
text-decoration: none;
}

.card:hover {
box-shadow: 3px 3px 6px 3px #5a8da9;
}

.card-img-top {
  height: 190px;
  width: 190px;
}

.contenido-carta-articulo {
  text-align: center;
  margin: 0px;
}

.titulo-articulo-home {
  font-size: 2em;
  color: #d48a38;
}

.precio-home {
color: #39b54a;
font-size: 1em;
}

.valoracion-home {
  color: #5a8da9;
}

.valoracion-estrellas-home {
  text-align: center;
  color: #5a8da9;
}

#contenedor-generos {
  display: flex;
}

#titulo-generos {
  margin: auto;
  border: 2px solid #5a8da9;
  color: #5a8da9;
  padding: 10px;
}

.fila-generos {
display: flex;
flex-flow: row wrap;
width: 100%;
margin: auto;
}

.col {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid #5a8da9;
  align-content: flex-end;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px 4px 4px 4px;
  background-color: #212026;
  padding-bottom: 10px;
  transition: background-color 450ms;
}

.col:hover {
background-color: #d48a38;
}

.img-fluid {
  padding-top: 10px;
}

/* Fin del home (alex)

/*Login, Lucia*/

.login {
  padding: 10px 0;
}

.form-title {
  color: #212026;
  font-size: 1.7em;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  
}
 .login2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: rgb(235, 147, 63); 
  border-radius: 15px;
  height: 30%;
  width: 90%;
  max-width: 500px;
  margin: auto;
  font-size: 15px;
 }

.buttonlogin{
 
  background-color: #638da9;
	color: #ededed;
	border:0;
	border-radius: 15px;
	display: block;
	margin: 10px auto; 
	padding: 15px 20px;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
  font-style: italic;
	transition: box-shadow 450ms;
  max-width: 100%;
		
}
.buttonlogin:hover{
  background-color:  #212026;
  
}
.singup{
  background-color: #212026;
  color: #ededed;
  border:0;
  border-radius: 15px;
  display: block;
  margin:20px auto;
  padding: 10px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  visibility: visible;
  font-style: italic;
  text-decoration: none;
  max-width: 100%;
   
}
.singup:hover{
  background-color:  #638da9;
  color: #212026;
}



a.buttonx{

  margin-right: 20px;
  text-decoration: none;
  color: #ededed;
  text-align: center;
  padding-left: 20px;
  font-size: 14px;
  max-width: 100%;

}
.buttonsingup{
  display: block;
  margin-right: 20px;
  text-align: center;
  justify-items: center;
  font-size: 15px;
  max-width: 100%;

}

.preg-singup{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  

}

.passwordlogin{
  padding:10px;
  max-width: 100%;
  
}

.preg-olvi{
 padding-right: 40px;
 padding-top: 30px;
 font-size: 15px;
 max-width: 100%;
}


#password{
  border-radius: 10px;
  text-align: justify;
  background-color: #f6f8f8;
  padding: 8px;
  position: relative;
  font-size: 15px;
  max-width: 100%;
}


.emaillogin{
  padding:10px;
  
  max-width: 100%;
} 
#email{
  border-radius: 10px;
  text-align: justify;
  background-color: #f6f8f8;
  padding: 8px;
  position: relative;
  font-size: 15px;
  max-width: 100%;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #c00;
}
 #name{
  border-radius: 10px;
  text-align: justify;
  background-color: #f6f8f8;
  padding: 8px;
  position: relative;
  font-size: 15px;
  max-width: 100%;
 }


/*fin login*/

/*Register, Lucia*/
.form-singup{
  padding:15px;
  max-width: 100%;
}

.singup1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(235, 147, 63); 
  border-radius: 15px;
  width: 90%;
  margin: auto;
  height: 50%;
  max-width: 500px;
  
}
.nombrelogin{
  padding:10px;
  font-size: 15px;
  max-width: 100%;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  margin: .3rem 0;
  max-width: 100%;
}

h5{
  padding:5px;
  text-align: center;
  font-size: 14px;
  max-width: 100%;
}

.fechanacimiento{
    
    border-radius: 10px;
    text-align: center;
    background-color: #f6f8f8;
    padding: 10px;
    position: center;
    border: 1px solid black ;
    max-width: 100%;   
    margin: 10px;
    width: 50%;
    color:#808080;
    max-width: 100%;

    
  }
  .fecha-nacimiento{
    max-width: 100%;

  }
  #start{
    color:#808080;
    max-width: 100%;
  }
/*fin register*/

/* Media queries */

@media (min-width: 768px) {
  /* Header (Alan) */

  .container-cart-mobile {
    display: none;
  }

  #hamburguer-menu {
    position: relative;
    right: 20%
  }

  .container-hamburguer-menu {
    width: 116px;
  }

  .container-cart-tablet {
    display: flex;
    align-self: center;
    margin: 10px;
    width: 116px;
    align-items: center;
  }

  .fa-search {
    color: #ffffff;
  }

  .link-cart-tablet {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 10px;
    border-left: 1px solid #5a8da9;
  }

  .link-cart-tablet span,
  .link-cart-tablet i {
    color: #5a8da9;
    margin: 2px;
  }

  .total {
    color: #5a8da9;
    padding: 0 10px;
  }

  /* Fin del header (Alan) */

 /* Detalle*/

.detalle-del-producto{
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  margin: 2%;
  padding-left: 15px;
  display:flex;
  text-align: left;
}


  /* Inicio carrito */

  .elemento-carrito {
    flex-direction: row;
  }

  .container-info-2 {
    flex-direction: column;
    padding-right: 10px;
  }

  /* Fin carrito*/

  /* Footer */

  .footer-navbar-list {
    flex-direction: row;
  }

  .footer-navbar-item {
    width: 25%;
    border-top: none;
    padding: 10px;
    align-self:stretch;
  }

  .border-right {
    border-right: #5a8da9 1px solid;
  }

  .border-left-and-right {
    border-right: #5a8da9 1px solid;
    border-left: #5a8da9 1px solid;
  }

  /* Fin del footer */

  

}

@media (min-width: 1280px) {

  /* Header (Alan) */

  .container-cart-tablet {
    display: none;
  }

  .container-hamburguer-menu {
    display: none;
  }

  .header-search-bar-tablet-mobile {
    display: none;
  }

  .header-search-bar-desktop {
    display: block;
  }

  .header-user-logo {
    display: block;
  }

  .header-user-logo i {
    color: #5a8da9
  }

  .header-navbar-desktop {
    display: flex;
    justify-content: space-between;
  }

  .header-navbar-desktop a {
    text-decoration: none;
    color: #5a8da9;
    margin: 10px;
  }

  .header-navbar-desktop a:hover {
    color: #d48a38;
  }

  .header-navbar-desktop i:hover {
    color: #d48a38;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .header-logo-section {
    justify-content: space-evenly;
  }

  .header-user-logo a {
    text-decoration: none;
  }

  .header-user-logo a:hover i {
    color: #d48a38;
  }

  .anchor-categories:hover {
    color: #d48a38;
  }

  .anchor-categories:hover i {
    color: #d48a38;
  }

  .container-header-navbar-desktop {
    margin-left: 40px;
  }

  .container-header-cart {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    align-items: center;
  }

  .container-header-cart div span {
    color: #5a8da9;
    margin: 10px;
  }

  .header-amount-products:hover {
    color: #d48a38;
  }

  .anchor-cart-products:hover span {
    color: #d48a38;
  }

  .anchor-cart-products:hover i {
    color: #d48a38;
  }

  .total-cart {
    border-right: #5a8da9 solid 1px;
  }

  .dropdown-menu-categories {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .category-title {
    display: block;
    text-align: center;
  }

  .dropdown-menu-categories ul {
    padding: 0;
  }

  /* Fin del header (Alan) */

  /* Footer */

  #logo-hedwig-header {
    margin-bottom: 0;
  }
}

/* Fin medias */