<!DOCTYPE html>
<html lang="en">
<head>

    <title>Cuenta creada</title>

    <!-- Head -->
    <%- include('../partials/head') %> 
    <!-- Fin del head -->

</head>
<body>
    
    <!-- Header -->
    <%- include('../partials/header') %> 
    <!-- Fin del header -->

    <h1 class="text-center">Cuenta creada!</h1>
    <div class="text-center">
        <img class="float-right py-5" src="/img/LOGO.png" alt="Tan loco">
    </div>

    <div class="text-center">
        <a href="/users/login"><button class="btn button-width"> Iniciar sesión </button></a>
    </div>

    <!-- Footer -->
    <%- include("../partials/footer") %> 
    <!-- Fin del footer -->

</body>
</html>