<!DOCTYPE html>

<html lang="es">

<head>

    <title>Iniciar sesion</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->


    


    <!-- Footer -->

	<%- include("../partials/footer") %>

	<!-- Fin del footer -->

</body>

</html>