<!DOCTYPE html>

<html lang="es">

<head>

    <title>Iniciar sesion</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->


    <main>
        <br>
        <div class="login-wrap">
            <form action= "/users/login" method="POST">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Inicia Sesion</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrate</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="email" class="label"></label>
                            <input  class="input" type="email" name= "email" id= "email" autofocus= 1 placeholder="@ Correo electronico" required aria-required="true" aria-describedat="form-email.error">
                        </div>
                        <div class="group">
                            <label  for="password" class="label"></label>
                            <input class="input" type="password" name="password" id="password" autofocus= 1 placeholder="Contraseña" >
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span>Guardar inicio de sesion</label>
                        </div>
                        <div class="group">
                            
                        <button type="submit" class="button">Iniciar sesion</button>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">¿Olvidaste la contraseña?</a>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="sign-up-htm">
                        <h5 class="foot-lnk" class="cookies">¡Es rapido y facil!</h5>
                        <div class="group">
                            <label class="label" for="email"> </label>
                            <input class="input" type="email" name= "email" id= "email" autofocus= 1 placeholder= "@ Correo electronico"  aria-required="true" aria-describedat="form-email.error" data-missing-error="El campo es requerido." required>
                        </div>
                        
                    <div class="group">
                             <label class="label" for="name"></label>
                             <input class="input"  type="text" name= "name" id= "name" autofocus= 1 placeholder=" Nombre y Apellido" required> 
                         </div>

                         <div class="group" class="fechanacimiento">
                            <label for="start" class="fecha-nacimiento" class="input"  >Fecha de nacimiento:</label>
                            <input class="input" type="date" id="start" name="trip-start" value="2021-07-06" min="1900-01-01" max="2023-12-31">
                        </div>

                    <div class="group">
                        <label for="password" class="label"></label>
                        <input class="input" type="password" name= "password" id= "password" autofocus= 1 placeholder="Contraseña" required>
                        </div>

                    <div class="group">

                            <label for="password" class="label"></label>
                            <input class="input"  type="password" name= "password" id= "password" autofocus= 1 placeholder="Repetir contraseña" required>
                        </div>
                     
                    <div class="group">
                        <button type="submit" class="button">Crear mi cuenta</button>
                        </div>
                        <h5 class="cookies">Al registrarte aceptas nuestras condiciones, politicas de datos y politica cookies.</h5>
                    </div>
                    
                </div>
            </div>
            </form>
        </div>
    </main>



    <!-- Footer -->

	<%- include("../partials/footer") %>

	<!-- Fin del footer -->

</body>

</html>