<!DOCTYPE html>

<html lang="es">

<head>

    <title>Iniciar sesion</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->


    <main>
        <br>
        <form action= "/users/login" method="POST" id="form-login">
        <%- include('../partials/erroresValidacion') %>
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" ><label for="tab-1" class="tab d-none">Inicia Sesion</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Registrate</label>
                <div class="login-form">
                    <div class="sign-in-htm d-none">
                        <div class="group">
                            <label for="email" class="label"></label>
                            <input  class="input" type="email" name= "email" id= "email" autofocus= 1 placeholder="@ Correo electronico" aria-required="true" aria-describedat="form-email.error">
                        </div>
                        <div class="group">
                            <label  for="password" class="label"></label>
                            <input class="input" type="password" name="password" id="password" autofocus= 1 placeholder="Contraseña" >
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" name = "recordarUsuario" class="check">
                            <label for="check"><span class="icon"></span>Guardar inicio de sesion</label>
                        </div>
                        <div class="group">
                            <button type="submit" class="button" id="submit-login">Iniciar sesion</button>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">¿Olvidaste la contraseña?</a>
                        </div>
                    </div>
                </form>
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class="sign-up-htm">
                    <h5 class="foot-lnk" class="cookies">¡Es rapido y facil!</h5>
                    
                    <div class="group">
                        <label class="label" for="email"> </label>
                        <input class="input" type="email" name= "email" id= "email" autofocus= 1 placeholder= "@ Correo electronico"  aria-required="true" aria-describedat="form-email.error" data-missing-error="El campo es requerido.">
                    </div>
                    
                    <div class="group">
                         <label class="label" for="name"></label>
                         <input class="input"  type="text" name= "userName" id= "name" autofocus= 1 placeholder=" Nombre y Apellido"> 
                     </div>
                     <div class="group">
                         Foto de perfil:<input class="input" type="file" name="image" />
                    </div>
                     <div class="group" class="fechanacimiento">
                        <label for="start" class="fecha-nacimiento" class="input"  >Fecha de nacimiento:</label>
                        <input class="input" type="date" id="start" name="fechaNacimiento" value="2021-07-06" min="1900-01-01" max="2023-12-31">
                    </div>
                    <div class="group">
                        <label for="password" class="label"></label>
                        <input class="input" type="password" name= "password" id= "password" autofocus= 1 placeholder="Contraseña">
                    </div>
                    <div class="group">
                        <label for="password" class="label"></label>
                        <input class="input"  type="password" name= "confirm-password" id= "password" autofocus= 1 placeholder="Repetir contraseña">
                    </div>
                    <div class="group">
                        <button type="submit" class="button">Crear cuenta</button>
                    </div>
                    <h6 class="cookies">Al registrarte aceptas nuestras condiciones, politicas de datos y politica cookies.</h6>
                
                </div>
            </form>
        </div>
    </main>



    <!-- Footer -->

	<%- include("../partials/footer") %>

	<!-- Fin del footer -->

    <script src="/js/validationLogin.js"></script>

</body>

</html>