<!DOCTYPE html>

<html lang="es">

<head>

    <title>Carrito</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <main>

        <div class="max-width">

        <div class = "titulo-entrada-carrito">
            <h2><strong> Tu carrito </strong></h2>

            <hr class="dropdown-divider">

            <div class="container-entrada-carrito">
                <i class="fas fa-shopping-cart"></i> 
                <span>Tienes una cantidad de 3 articulos con un total de <b> $4000 </b> en tu carrito</span>
            </div>

            <hr class="dropdown-divider">

            
        </div>    
        <ul class="lista-articulos">
            <li class = "elemento-carrito">

                <div class = "container-info-1">

                    <div>
                    <img class = "libro-guion-carrito" src = "/img/Portada-libro.jpg">
                    </div>

                    <div class = "info-producto">  
                            <h3 class = "carrito-titulo-libro">Titulo</h3>  
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                            <p class="precio-home">$1000</p>
                            <p>Categoria</p>
                            <p>Autor</p>
                    </div>

                </div>        
                <div class = "container-info-2">
                    <div class = "carrito-cantidad-productos">
                        <select class="form-select" aria-label="cantidad-productos">
                            <option value="1" >1</option>
                            <option selected value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div>
                        <span class="precio-home">$2000</span>
                    </div>
                    <div>
                        <button class = "btn btn-danger" >Eliminar</button>
                    </div>

                    
                </div>
            </li>
            <li class = "elemento-carrito">

                <div class = "container-info-1">

                    <div>
                    <img class = "libro-guion-carrito" src = "/img/Portada-libro.jpg">
                    </div>

                    <div class = "info-producto">  
                            <h3 class = "carrito-titulo-libro">Titulo</h3>  
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                            <p class="precio-home">$1000</p>
                            <p>Categoria</p>
                            <p>Autor</p>
                    </div>

                </div>        
                <div class = "container-info-2">
                    <div class = "carrito-cantidad-productos">
                        <select class="form-select" aria-label="cantidad-productos">
                            <option selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div>
                        <span class="precio-home">$1000</span>
                    </div>
                    <div>
                        <button class = "btn btn-danger" >Eliminar</button>
                    </div>

                    
                </div>
            </li>
            <li class = "elemento-carrito">

                <div class = "container-info-1">

                    <div>
                    <img class = "libro-guion-carrito" src = "/img/Portada-libro.jpg">
                    </div>

                    <div class = "info-producto">  
                            <h3 class = "carrito-titulo-libro">Titulo</h3>  
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                            <p class="precio-home">$1000</p>
                            <p>Categoria</p>
                            <p>Autor</p>
                    </div>

                </div>        
                <div class = "container-info-2">
                    <div class = "carrito-cantidad-productos">
                        <select class="form-select" aria-label="cantidad-productos">
                            <option selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div>
                        <span class="precio-home">$1000</span>
                    </div>
                    <div>
                        <button class = "btn btn-danger" >Eliminar</button>
                    </div>

                    
                </div>
            </li>
            
        </ul>

        <div class = "carrito-compra">
            <img class = "logo-carrito" src = "/img/LOGO.png">
            <div>
                <p>Gastos de envio: Gratuito</p>
                <p>Total: $4000</p>
                <button class = "btn btn-info">Comprar </button>
            </div>
        </div>

        <section>
            <h4 class= 'libros-interesados'>Libros que tal vez te interesen</h4>
            <!-- Carrusel -->
            <%- include("../partials/carrusel") %>
            <!-- Fin del Carrusel -->

        </section>

        </div>

    </main>

    <!-- Footer -->

	<%- include("../partials/footer") %>

	<!-- Fin del footer -->

</body>

</html>