<!DOCTYPE html>

<html lang="es">

<head>

    <title>Hedwig</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <main class = 'main-detalles'>


        <p class='ruta-de-producto'>
            <span>
            <a href = "/"> Home > </a><a href = "/">  Sección > </a> <a href = "/">  Género </a>
            </span>
            <span>
            <a href="/products/editarProducto"><button class="btn boton-compra" id="small-btn">Editar producto <i class="far fa-edit"></i></button> </a>
            </span>
        </p>

        
        <section class= 'detalle-del-producto'>

        <section>
       <div class= 'imagen-detalles'> <img src = /img/1984.jpg width= "250px" > </img></div>
        <div> <h2 class= 'precio'> $1500</h2> </div>

        </section>
        
        <section class= 'fragmento-libro'> <h2 class= titulo-libro>Titulo del Libro</h2>
           <div class= 'estrellitas'> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>

         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit massa semper felis scelerisque molestie. 
            Donec eget mauris orci. Donec pellentesque dui non turpis cursus, at feugiat enim aliquam. Suspendisse potenti. 
            Integer in maximus nisi. Curabitur vel aliquam est. Nullam non enim libero. Integer quis arcu nec mauris semper vehicula. 
            Morbi eget neque risus. Praesent malesuada aliquet augue in fermentum. 
            Aliquam convallis augue dignissim nulla tincidunt ultrices. Fusce eget mi eleifend, sollicitudin neque quis, convallis magna. 
            Vivamus suscipit egestas neque sit amet viverra. Aliquam ut libero est. In faucibus ullamcorper eros eu elementum. 
            In ipsum odio, aliquet ac ante ac, sodales tempus est. Mauris ipsum est, commodo in viverra et, finibus vel quam.
            Duis vitae semper neque. <a href = " "> Continuar leyendo...</a>

        <div> <a href="/products/carrito"><button class= 'boton-compra'> Agregar a carrito <i class="fas fa-shopping-cart"></i></button></a></div>

        </section>
        
        </section>

        <section class= 'caracteristicas'>
            <h4> <b> Características </b></h4>
            <ul>
                <li>Género</li>
                <li>Autor</li>
                <li>Cantidad de paginas</li>
                <li>Editorial</li>

            </ul>

        </section>


        <section>
            <h4 class= 'libros-interesados'>Libros que tal vez te interesen</h4>
            <!-- Carrusel -->
            <%- include("../partials/carrusel") %>
            <!-- Fin del Carrusel -->

        </section>

    </main>

    <!-- Footer -->

    <%- include("../partials/footer") %>

    <!-- Fin del footer -->

</body>

</html>