<!DOCTYPE html>

<html lang="es">

<head>

    <title>Carrito</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

<main>

</main>

 <!-- Footer -->

 <%- include("../partials/footer") %>

 <!-- Fin del footer -->

</body>

</html>