<!DOCTYPE html>

<html lang="es">

<head>
    
    <title>Hedwig</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <!--Inicio del main-->
    <div>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=+5491122915820&text=Hola%21%20estoy%20interesado%20en%20hacer%20una%20compra." class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
      </a>
      </div>
    <main>


        <%- include('../partials/catalogo' , {nombreVista: data.nombreVista}) %>

    
      

    </main>

<!--Fin del main-->

<!-- Footer -->

<%- include("../partials/footer") %>

<!-- Fin del footer -->

</body>

</html>