<!DOCTYPE html>

<html lang="es">

<head>
    
    <title>Hedwig</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <!--Inicio del main-->
    <div>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=+5491122915820&text=Hola%21%20estoy%20interesado%20en%20hacer%20una%20compra." class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
      </a>
      </div>
    <main>
        <!--Carrousel-->

        <section id="carouselExampleIndicators" class="container-md carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
                <a href="/products/detalles/61"><img src="/img/banner-stephen-king.jpg" class="d-block w-100" alt="stephen-king-despues"></a>
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <a href="/search?search=Harry%20Potter"><img src="/img/banner-harry-potter.jpg" class="d-block w-100" alt="harry-potter-collection"></a>
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <a href="/products/detalles/60"><img src="/img/banner-facundo-manes.jpg" class="d-block w-100" alt="facundo-manes-ser-humano"></a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </section>

        <!--Fin carrousel-->

          <!--Sección géneros-->

          <section class="container" id="contenedor-generos">
            <div class="main-title-home">
                <h2 id="titulo-generos">Géneros populares</h2>
            </div>
            <div class="row fila-generos">
                <a href="/products/genero/?categoria=Terror&id=1" class="col">
                    <img src="/img/terror-logo.jpg" class="img-fluid" alt="terror-isotipo">
                </a>
                <a href="/products/genero/?categoria=Ciencia%20ficción&id=2" class="col">
                    <img src="/img/ciencia-ficcion.jpg" class="img-fluid" alt="ciencia-ficcion-isotipo">
                </a>
                <a href="/products/genero/?categoria=Fantasía&id=3" class="col">
                    <img src="/img/fantasia-logo.jpg" class="img-fluid" alt="fantasia-isotipo">
                </a>
                <a href="/products/genero/?categoria=Policiales&id=13" class="col">
                    <img src="/img/policiales-logo.jpg" class="img-fluid" alt="policiales-isotipo">
                </a>
            </div>
        </section>

        <!--Catalogo-->

        <%- include('../partials/catalogo' , { nombreVista: "Catálogo"}) %>

        <!--Fin catálogo-->
      

    </main>

<!--Fin del main-->

<!-- Footer -->

<%- include("../partials/footer") %>

<!-- Fin del footer -->

</body>

</html>