<!DOCTYPE html>

<html lang="es">

<head>
    
    <title>Hedwig</title>

    <!-- Head -->
    <%- include("../partials/head") %>
    <!-- Fin del head -->

</head>

<body>

    <!-- Header -->

    <%- include('../partials/header') %>
    
    <!-- Fin del header -->

    <!--Inicio del main-->

    <main>
        <!--Catalogo-->

        <%- include('../partials/catalogo') %>

        <!--Fin catálogo-->


<!--Fin del main-->

<!-- Footer -->

<%- include("../partials/footer") %>

<!-- Fin del footer -->

</body>

</html>